<%= form_for(@club) do |c| %>

<%= render partial: "layouts/error", locals: { model: @club } %>

  <p><i><%=@oopsie%></i></p>
    <%= c.label :name %>
    <%= c.text_field :name %><br><br>

    <%=c.fields_for :club_players do |pl|%>
     <div>   <h2><%= pl.label :forwards %><br></h2>
        
            <% @fo.each do |f|%>
            <%= pl.radio_button('Fwd', f.id) %> <%=f.name%> <br> 
            Age: <%=f.age%> years <br>
            Team: <%=f.team.name%><br><br>
        <%end%></div>

        <div><h2> <%= pl.label :midfielders %><br></h2>
        <% @m.each do |f|%>
                <%= pl.radio_button("Mid", f.id)%> <%=f.name%> <br> 
                Age: <%=f.age%> years <br>
                Team: <%=f.team.name%><br><br>
        <%end%></div>
        
        <div><h2> <%= pl.label :defenders %><br></h2>
        <% @d.each do |f|%>
                <%= pl.radio_button('Def', f.id)%> <%=f.name%> <br> 
                Age: <%=f.age%> years <br>
                Team: <%=f.team.name%><br><br>
        <%end%></div>

        
       <div> <h2> <%= pl.label :Goalkeepers %><br></h2>
        <% @g.each do |f|%>
                <%= pl.radio_button('GK',f.id)%> <%=f.name%> <br> 
                Age: <%=f.age%> years <br>
                Team: <%=f.team.name%><br><br>
        <%end%></div>

       <div> <h2> <%= pl.label :Fifth_Choice %><br></h2>
        <h4>Pick a Fifth player. Please don't select a player you've already chosen!</h4>
        <% @o.each do |f|%>
                <%= pl.radio_button('any',f.id)%> <%=f.name%> <br> 
                Age: <%=f.age%> years <br>
                Team: <%=f.team.name%><br><br>
        <%end%></div>
    <%end%>
        <%= c.submit "Create your Club!"%>
<% end %>

        

   

        
    