<h1><%=@club.name%></h1>
Created by: <%=@user.name%><br><br>
<i>Based on these players, the best formation for this team is:</i> <%=@formation%><br><br>
<%if @club.user_id == session[:user_id]%>
<p><%= link_to('Edit Your Club', edit_user_club_path(@club.user_id, @club.id))%></p>
<%end%>
<h3><u>Forward(s)</u></h3>
<% @fo.each do |f|%>
   Name: <%=  f.name %><br>
   Age: <%=  f.age %><br>
   Team: <%=  f.team.name %><br><br>
  <%end%><br>
  
<h3><u>Midfielder(s)</u></h3>
<% @m.each do |f|%>
   Name: <%=  f.name %><br>
   Age: <%=  f.age %><br>
   Team: <%=  f.team.name %><br><br>
<%end%><br>

<h3><u>Defender(s)</u></h3>
<% @d.each do |f|%>
   Name: <%=  f.name %><br>
   Age: <%=  f.age %><br>
   Team: <%=  f.team.name %><br><br>
<%end%><br>

      
<h3><u>Goalkeeper</u></h3>
<% @g.each do |f|%>
   Name: <%=  f.name %><br>
   Age: <%=  f.age %><br>
   Team: <%=  f.team.name %><br>
<%end%><br>
  

