<!DOCTYPE html>
<html>
  <head>
    <title>FUTVOLTA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <navbar>
  <%= image_tag("https://scontent-lga3-1.xx.fbcdn.net/v/t1.0-9/107859207_10222985600978787_3310137712680005641_o.jpg?_nc_cat=110&_nc_sid=e3f864&_nc_ohc=MkuRWxEAkKAAX-VS7u0&_nc_ht=scontent-lga3-1.xx&oh=ca2afd406ce50f26f64f6336531bcfd3&oe=5F33FFA4")%>
  <%=render 'layouts/nav'%>
  </navbar>
  <main class="wrapper">
    <%= yield %>
  </body>
</html>
